In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('yellow_tripdata7.csv')

/Users/mukhtaralbinhamad/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-07-01 00:08:51,2021-07-01 00:13:05,1.0,0.8,1.0,N,90,68,1.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1.0,2021-07-01 00:22:39,2021-07-01 00:25:58,1.0,0.9,1.0,N,113,90,2.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1.0,2021-07-01 00:48:33,2021-07-01 00:54:58,1.0,2.8,1.0,N,88,232,2.0,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1.0,2021-07-01 00:59:44,2021-07-01 01:07:09,1.0,1.4,1.0,N,79,249,1.0,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1.0,2021-07-01 00:08:35,2021-07-01 00:16:28,0.0,2.0,1.0,N,142,238,1.0,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [4]:
df.tail(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2821510,NaN,2021-07-09 18:07:09,2021-07-09 18:27:04,NaN,2.60,NaN,NaN,68,144,NaN,14.00,1.00,0.5,2.75,0.0,0.3,21.05,2.5
2821511,NaN,2021-07-09 18:16:00,2021-07-09 18:57:00,NaN,12.47,NaN,NaN,92,144,NaN,47.08,2.75,0.5,0.00,0.0,0.3,50.63,0.0
2821512,NaN,2021-07-09 18:07:46,2021-07-09 19:07:06,NaN,3.01,NaN,NaN,265,249,NaN,23.96,0.00,0.5,0.00,0.0,0.3,24.76,0.0
2821513,NaN,2021-07-09 18:17:00,2021-07-09 18:42:00,NaN,6.67,NaN,NaN,262,211,NaN,24.24,0.00,0.5,5.96,0.0,0.3,33.50,2.5
2821514,NaN,2021-07-09 18:11:00,2021-07-09 18:30:00,NaN,3.51,NaN,NaN,232,68,NaN,15.27,0.00,0.5,3.96,0.0,0.3,22.53,2.5

In [5]:
df.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
207406,2.0,2021-07-03 15:24:27,2021-07-03 15:36:51,2.0,2.58,1.0,N,100,140,1.0,11.0,0.0,0.5,2.86,0.0,0.3,17.16,2.5
2720325,NaN,2021-07-07 21:27:00,2021-07-07 21:31:00,NaN,1.00,NaN,NaN,125,249,NaN,11.0,0.0,0.5,0.00,0.0,0.3,14.30,2.5
2477489,1.0,2021-07-29 17:05:37,2021-07-29 17:19:35,1.0,1.70,1.0,N,230,141,1.0,10.5,3.5,0.5,2.95,0.0,0.3,17.75,2.5
1733437,1.0,2021-07-21 14:18:49,2021-07-21 14:36:32,1.0,3.30,1.0,N,239,164,1.0,13.5,2.5,0.5,3.20,0.0,0.3,20.00,2.5
1926350,2.0,2021-07-23 15:35:25,2021-07-23 16:01:56,1.0,1.71,1.0,N,107,100,1.0,16.0,0.0,0.5,3.86,0.0,0.3,23.16,2.5
1424802,1.0,2021-07-17 20:58:12,2021-07-17 21:11:29,2.0,2.90,1.0,N,107,141,1.0,12.0,3.0,0.5,3.16,0.0,0.3,18.96,2.5
1137472,2.0,2021-07-14 20:24:52,2021-07-14 20:35:44,1.0,2.65,1.0,N,263,161,1.0,10.5,0.5,0.5,2.86,0.0,0.3,17.16,2.5
749094,2.0,2021-07-10 13:24:51,2021-07-10 13:37:32,1.0,2.07,1.0,N,237,239,1.0,11.0,0.0,0.5,2.86,0.0,0.3,17.16,2.5
486220,2.0,2021-07-07 14:22:52,2021-07-07 14:35:07,1.0,2.42,1.0,N,107,237,1.0,10.5,0.0,0.5,1.20,0.0,0.3,15.00,2.5
2118670,2.0,2021-07-25 18:49:19,2021-07-25 19:07:10,4.0,6.57,1.0,N,162,261,2.0,21.0,0.0,0.5,0.00,0.0,0.3,24.30,2.5

In [6]:
df.shape

(2821515, 18)

In [7]:
X, y = df.drop('total_amount',axis=1), df['total_amount']

In [10]:
X, X_test, y, y_test = train_test_split(X, y, test_size=.01, random_state=199)

In [11]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=.01, random_state=199)

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2765366 entries, 1893944 to 292431
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  congestion_surcharge   float64
dtypes: float64(12), int64(2), object(3)
memory usage: 379.8+ MB

In [13]:
X_train.isnull().sum()

VendorID                 128068
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          128068
trip_distance                 0
RatecodeID               128068
store_and_fwd_flag       128068
PULocationID                  0
DOLocationID                  0
payment_type             128068
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
congestion_surcharge          0
dtype: int64

In [14]:
X_train=X_train.dropna(how='any')

In [15]:
X_train['payment_type'].value_counts()

1.0    1988014
2.0     623963
3.0      13924
4.0      11396
5.0          1
Name: payment_type, dtype: int64

In [16]:
X_train=X_train.drop(X_train[X_train.payment_type.values==5].index)

In [17]:
X_train['payment_type'].value_counts()

1.0    1988014
2.0     623963
3.0      13924
4.0      11396
Name: payment_type, dtype: int64