In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [35]:
df = pd.read_csv('yellow_tripdata7.csv')

/Users/mukhtaralbinhamad/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [36]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-07-01 00:08:51,2021-07-01 00:13:05,1.0,0.8,1.0,N,90,68,1.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1.0,2021-07-01 00:22:39,2021-07-01 00:25:58,1.0,0.9,1.0,N,113,90,2.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1.0,2021-07-01 00:48:33,2021-07-01 00:54:58,1.0,2.8,1.0,N,88,232,2.0,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1.0,2021-07-01 00:59:44,2021-07-01 01:07:09,1.0,1.4,1.0,N,79,249,1.0,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1.0,2021-07-01 00:08:35,2021-07-01 00:16:28,0.0,2.0,1.0,N,142,238,1.0,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [37]:
df.tail(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2821510,NaN,2021-07-09 18:07:09,2021-07-09 18:27:04,NaN,2.60,NaN,NaN,68,144,NaN,14.00,1.00,0.5,2.75,0.0,0.3,21.05,2.5
2821511,NaN,2021-07-09 18:16:00,2021-07-09 18:57:00,NaN,12.47,NaN,NaN,92,144,NaN,47.08,2.75,0.5,0.00,0.0,0.3,50.63,0.0
2821512,NaN,2021-07-09 18:07:46,2021-07-09 19:07:06,NaN,3.01,NaN,NaN,265,249,NaN,23.96,0.00,0.5,0.00,0.0,0.3,24.76,0.0
2821513,NaN,2021-07-09 18:17:00,2021-07-09 18:42:00,NaN,6.67,NaN,NaN,262,211,NaN,24.24,0.00,0.5,5.96,0.0,0.3,33.50,2.5
2821514,NaN,2021-07-09 18:11:00,2021-07-09 18:30:00,NaN,3.51,NaN,NaN,232,68,NaN,15.27,0.00,0.5,3.96,0.0,0.3,22.53,2.5

In [38]:
df.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1093141,2.0,2021-07-14 14:05:38,2021-07-14 14:23:44,2.0,2.46,1.0,N,161,68,1.0,13.00,0.00,0.5,5.00,0.0,0.3,21.30,2.5
1926877,2.0,2021-07-23 15:46:42,2021-07-23 15:56:09,1.0,1.09,1.0,N,162,170,1.0,7.50,0.00,0.5,1.00,0.0,0.3,11.80,2.5
1864540,1.0,2021-07-22 20:22:22,2021-07-22 20:26:02,2.0,0.50,1.0,N,50,48,1.0,4.50,3.00,0.5,1.65,0.0,0.3,9.95,2.5
1930865,2.0,2021-07-23 15:20:12,2021-07-23 15:33:18,1.0,1.85,1.0,N,114,170,1.0,10.00,0.00,0.5,2.66,0.0,0.3,15.96,2.5
300385,2.0,2021-07-05 01:05:42,2021-07-05 01:16:34,1.0,2.95,1.0,N,148,100,1.0,11.00,0.50,0.5,2.00,0.0,0.3,16.80,2.5
980736,1.0,2021-07-13 10:21:10,2021-07-13 10:26:21,1.0,0.90,1.0,N,236,75,1.0,5.50,2.50,0.5,1.50,0.0,0.3,10.30,2.5
2270629,2.0,2021-07-27 15:35:20,2021-07-27 15:45:50,2.0,2.68,1.0,N,48,24,1.0,10.00,0.00,0.5,2.66,0.0,0.3,15.96,2.5
2630610,2.0,2021-07-31 12:25:29,2021-07-31 12:33:00,1.0,0.98,1.0,N,263,236,2.0,7.00,0.00,0.5,0.00,0.0,0.3,10.30,2.5
2030573,1.0,2021-07-24 17:19:45,2021-07-24 17:27:56,1.0,1.20,1.0,N,234,68,2.0,7.50,2.50,0.5,0.00,0.0,0.3,10.80,2.5
2761161,NaN,2021-07-21 08:07:00,2021-07-21 09:10:00,NaN,19.37,NaN,NaN,32,13,NaN,50.09,2.75,0.5,0.00,3.0,0.3,56.64,0.0

In [39]:
df.shape

(2821515, 18)

In [57]:
df_train,df_test=train_test_split(df, test_size=.01, random_state=199)

In [58]:
df_train,df_val = train_test_split(df_train, test_size=.01, random_state=199)

In [59]:
df_train.shape

(2765366, 18)

In [60]:
df_test.shape

(28216, 18)

In [61]:
df_val.shape

(27933, 18)

In [49]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2765366 entries, 1893944 to 292431
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 400.9+ MB

In [50]:
df_train.isnull().sum()

VendorID                 128068
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          128068
trip_distance                 0
RatecodeID               128068
store_and_fwd_flag       128068
PULocationID                  0
DOLocationID                  0
payment_type             128068
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge          0
dtype: int64

In [51]:
df_train=df_train.dropna(how='any')

In [52]:
df_train['payment_type'].value_counts()

1.0    1988014
2.0     623963
3.0      13924
4.0      11396
5.0          1
Name: payment_type, dtype: int64

In [53]:
df_train=df_train.drop(df_train[df_train.payment_type.values==5].index)

In [54]:
df_train['payment_type'].value_counts()

1.0    1988014
2.0     623963
3.0      13924
4.0      11396
Name: payment_type, dtype: int64

In [55]:
df_train_sample=df_train.sample(100000)

In [56]:
df_train_sample

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1294193,2.0,2021-07-16 14:21:55,2021-07-16 14:24:34,2.0,0.64,1.0,N,142,143,1.0,4.0,0.00,0.5,1.46,0.00,0.3,8.76,2.5
2110453,1.0,2021-07-25 16:13:36,2021-07-25 16:29:47,0.0,2.70,1.0,N,230,246,1.0,13.0,2.50,0.5,3.25,0.00,0.3,19.55,2.5
2345677,2.0,2021-07-28 12:19:17,2021-07-28 13:22:30,1.0,18.81,2.0,N,132,230,2.0,52.0,0.00,0.5,0.00,0.00,0.3,56.55,2.5
2331824,2.0,2021-07-28 09:02:24,2021-07-28 09:07:12,1.0,0.54,1.0,N,68,230,2.0,5.0,0.00,0.5,0.00,0.00,0.3,8.30,2.5
1909111,2.0,2021-07-23 11:18:27,2021-07-23 11:30:15,1.0,2.08,1.0,N,113,100,1.0,10.0,0.00,0.5,2.66,0.00,0.3,15.96,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309209,2.0,2021-07-05 10:32:27,2021-07-05 10:54:08,1.0,10.75,1.0,N,230,138,1.0,31.0,0.00,0.5,10.21,6.55,0.3,51.06,2.5
1320,1.0,2021-07-01 00:27:50,2021-07-01 00:46:02,2.0,8.40,1.0,N,138,152,1.0,25.5,1.75,0.5,6.90,6.55,0.3,41.50,0.0
952142,2.0,2021-07-12 21:57:16,2021-07-12 22:03:58,1.0,1.26,1.0,N,236,141,1.0,6.5,0.50,0.5,2.58,0.00,0.3,12.88,2.5
1766724,2.0,2021-07-21 20:46:25,2021-07-21 20:52:54,1.0,1.17,1.0,N,170,48,1.0,6.5,0.50,0.5,0.10,0.00,0.3,10.40,2.5
1467512,2.0,2021-07-18 12:22:27,2021-07-18 12:25:35,4.0,0.76,1.0,N,236,236,1.0,4.5,0.00,0.5,1.95,0.00,0.3,9.75,2.5